<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <style>
    h1 {
    color: cornflowerblue;
    font-size: 50px;
    text-align: center;
    }
    h2{
    color: cornflowerblue;
    font-size: 40px; 
    }
    .th{
        color: blue;
        font-size: 30px;
    }
    .input-desc{
        color: dodgerblue;
        font-size: 20px;
    }
    </style>
</head>
<body>
    <h1>Task Reminder</h1>
    <h2>This is a reminder of your task</h2>
    <div class="body">
        <% for(let task of tasks){ %>
            <div class="task-info">
            <div class="task-desc">
                <p class="th">Subject:</p>
                <p class="input-desc"><%= task.Subject %></p>
            </div>
            <div class="task-desc">
                <p class="th">Description:</p>
                <p class="input-desc"><%= task.Description%></p>
            </div>
            <div class="task-desc">
                <p class="th">Date:</p>
                <p class="input-desc"><%= new Date(task.Date.getTime() + 24 * 60 * 60 * 1000).toLocaleDateString()%></p>
            </div>
            <div class="task-desc">
                <p class="th">Time:</p>
                <p class="input-desc"><%= new Date(task.Time.getTime() + 5 * 60 * 60 * 1000).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })%></p>																												  
            </div>
    </div>
    </div>
    <% } %>
</body>
</html>