<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <style>
    h1 {
    color: cornflowerblue;
    font-size: 40px;
    text-align: center;
    font-family: 'Andalus';
    }
    .task-info{
        background-color: bisque;
        border-radius: 10px;
        width: 600px;
        margin: auto;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }
    .th{
        color: blue;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    .input-desc{
        color: dodgerblue;
        font-size: 20px;
    }
    </style>
</head>
<body>
    <h1>This Is a Friendly Reminder of Your Task</h1>
        <% for(let task of tasks){ %>
            <div class="task-info">
                <p class="th">Subject: <span class="input-desc"><%= task.Subject.charAt(0).toUpperCase() + task.Subject.slice(1) %></span></p>                
                <p class="th">Description: <span class="input-desc"><%= task.Description.charAt(0).toUpperCase() + task.Description.slice(1) %></span></p>                
                <p class="th">Date: <span class="input-desc"><%= task.Date.toLocaleDateString('en-US',{ timeZone: 'UTC' })%></span></p>
                <p class="th">Time: <span class="input-desc"><%= task.Time.toLocaleString('en-US', { timeZone : 'UTC', hour: '2-digit', minute: '2-digit' })%></span></p>               
            </div>
    <% } %>
</body>
</html>