<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/static/css/tasks.css">
</head>
<body>
    <h1>To Do List</h1>
    <form method="post">
            <div>
                <input class="subject" type="text" name="Subject" placeholder="Enter Subjact">
            </div>
        <div>          
            <textarea class="description" type="textarea" rows="4" name="Description" placeholder="Enter Description"></textarea>
        </div>
        <div class="date">
            <p>Enter date</p>
             <input type="date" id="Date" name="Date">
        </div>
        <div>
            <button class="submit" type="submit">Add Task</button>
        </div>
    </form>
</body>
</html>