<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Tasks</title>
	<link rel="stylesheet" href="/static/css/views.css">
</head>

<body>
	<h1>My To Do List</h1>
	<div class="grid">
		<table class="table">
			<thead>
                <th>Subject</th>
				<th>Description</th>
                <th>Date</th>
			</thead>
			<tbody>
				<% for(let task of tasks){ %>
					<tr>
                        <td><%= task.Subject %></td>
						<td><%= task.Description%></td>
                        <td><%= task.Date%></td>
						<td>
							<input type="checkbox" class="checkbox" id="checkbox"
							onclick="LineThrough(this)">
							<label for="checkbox">Mark As Done</label>
							<button type="button" onclick="deleteTask()">Delete</button>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<script>
		function LineThrough() {
			document.getElementById('checkbox').style.display = 'line-through';
			}
	</script>
</body>

</html>