<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="icon" type="image/x-icon" href="/images/to-do-list.png">
    <title>Add Task</title>
    <link rel="stylesheet" href="/static/css/tasks.css">
</head>
<body>
    <h1>To Do List</h1>
    <div class="form">
    <form action="/tasks/create" method="post">
            <div class="subject-div">
                <input class="subject" type="text" name="Subject" placeholder="Enter Subjact">
            </div>
        <div>          
            <textarea class="description" type="textarea" rows="4" 
            name="Description" placeholder="Enter Description"></textarea>
        </div>
        <div class="date">
            <p>Enter Date</p>
            <input type="date" name="Date" id="Date" placeholder="mm/dd/yyyy">
          </div>
          
          <div class="time">
            <p>Enter Time</p>
            <input type="time" name="Time" id="time" placeholder="hh:mm">
          </div>

          <div>
            <% for (let i = 0; i < tasks.length; i++) { %>
              <input type="hidden" name="userID" value="<%= tasks[i].userID %>">
            <% } %>
          </div>
                    
        <div>
            <button class="submit" type="submit">Click To Add Task</button>
        </div>
    </form>
</div>
</body>
</html>