<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="icon" type="image/x-icon" href="/images/to-do-list.png">
    <title>Add Task</title>
    <link rel="stylesheet" href="/static/css/tasks.css">

    <script>
      async function submit() {
        const form = document.querySelector('form')

        const data = new FormData(form);

        const datetime = new Date(`${data.get('date')}T${data.get('Time')}`);

        const time = `${datetime.getUTCHours()}:${datetime.getUTCMinutes()}`

        data.set('Date', datetime);
        data.set('Time', time)

        await fetch(form.action, {
          method: form.method,
          body: data,
          credentials: 'include'
        });

        return false;
      }
    </script>
</head>
<body>
    <h1>To Do List</h1>
    <div class="form">
    <form action="/tasks/create" method="POST" onsubmit="submit()">
            <div class="subject-div">
                <input class="subject" type="text" name="Subject" placeholder="Enter Subject" required>
            </div>
        <div>          
            <textarea class="description" type="textarea" rows="4" 
            name="Description" placeholder="Enter Description" required></textarea>
        </div>

        <div class="date">
            <p class="enter-p">Enter Date / Time</p>
            <input type="datetime-local" name="Date" id="Date">
        </div>

        <div>            
	        <p class="clock">Current Date & Time: <span id="clock"></span></p>
        </div>
        <div>
            <button class="submit" type="submit">Click To Add Task</button>
        </div>

    </form>
</div>

<script>
    setInterval(() => {
		let now = new Date().toLocaleString();
		document.getElementById('clock').innerHTML = now;
	 }, 1000)
</script>
</body>
</html>