<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Tasks</title>
	<link rel="stylesheet" href="/static/css/views.css">
</head>

<body>
	<h1>My To Do List</h1>
	<div class="grid">
		<table class="table">
			<thead>
                <th>Subject</th>
				<th>Description</th>
                <th>Date</th>
			</thead>
			<tbody>
				<% for(let task of tasks){ %>
					<tr>
                        <td><%= task.Subject %></td>
						<td><%= task.Description%></td>
                        <td><%= task.Date%></td>
						<td>
							<input type="checkbox" class="checkbox" id="checkbox">
							<label for="checkbox">Mark As Done</label>
							<button type="button" class="delete-task-btn" data-id="<%= task.id %>">Delete</button>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<script>
			function deleteTask(index) {
 			tasks.splice(index, 1);
  			  fetch('/delete-task', {
    			method: 'POST',
    			headers: {
      			'Content-Type': 'application/json'
    			},
    				body: JSON.stringify({ index: index })
  				})
  					.then(response => response.json())
  					.then(data => {
    				// Handle success response
    				console.log(data);
  				})
  					.catch(error => {
    				// Handle error response
    				console.error(error);
  				});
			}

	</script>
</body>

</html>