<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/update.css">
    <title>Update</title>
</head>
<body>
    <h1>Update Your Task</h1>
        <% for(let task of tasks){ %>
                  <div class="form">
                      <form action="/tasks/update" method="POST">

                          <p>Edit Subjact</p>
                            <input type="text" name="Subject" value="<%= task.Subject %>" class="input" required>

                          <p>Edit Description</p>
                            <textarea name="Description" class="description" required><%= task.Description %></textarea>
                              <input type="hidden" name="ListID" value="<%= task.ListID %>">

                          <p>Edit Date / Time</p>
                            <input type="datetime-local" name="Date" value="<%= task.Date %>" id="Date" class="date" required>
                            
                          <div class="button-container">
                            <button type="button" class="button" id="back-btn" 
                             onclick="window.history.go(-1)">Go Back</button>
                           <button type="submit" class="update-btn" id="update-btn">Save</button>
                    </form>          
                  </div>
            <% } %>
</body>
</html>