body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(113, 205, 236);
}

.form {
    background-color: dodgerblue;
    width: 950px;
    display: block;
    margin: auto;
    border-radius: 15px;
    height: 550px;
}

h1{
    color: rgb(3, 119, 197);
    text-align: center;
    display: block;
    margin-top: 50px;
    font-size: 50px;
}

.subject{
    margin: auto;
    display: block;
    margin-top: 50px;
    width: 700px;
    height: 40px;
    background-color:rgb(236, 245, 245) ;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
}

.description{
    margin: auto;
    display: block;
    margin-top: 5px;
    width: 700px;
    height: 150px;
    background-color:rgb(236, 245, 245) ;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    font-family: 'Calibri';
}

.submit{
    background-color: rgb(136, 194, 239);
    color: rgb(7, 105, 225);
    font-size:x-large;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    cursor: pointer;
    border-radius: 25px;
    width: 400px;
    margin-top: 50px;
}

p{
    color: rgb(167, 226, 241);
    font-size: larger;
    margin: auto;
    display: block;
    width: 500px;
    height: 25px;
    text-align: center;
    margin-top: 10px;
}

#Date{
    margin: auto;
    display: block;
    background-color:rgb(236, 245, 245) ;
    height: 35px;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
}

#time{
    margin: auto;
    display: block;
    background-color:rgb(236, 245, 245) ;
    height: 35px;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
}