body{
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}

.checkbox{
  text-decoration: line-through;
}

div.grib{
  text-align: center;
  margin: auto;
  display: block;
}

h1{
  text-align: center;
}

th{
  text-align: center;
  font-size: large;
  color: rgb(80, 80, 245);
}

.table{
  margin: auto;
  border: rgb(195, 195, 240) solid 2px;
  display: block;
  width: 1200px;
  border-radius: 10px;
}

td{
  margin-left: 10px;
  font-size: larger;
}


  